{% extends 'base.html.twig' %}

{% block body %}
    <h1>Role</h1>

    <table  id="datatable-keytable" class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ role.roleName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ role.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
            <a class="btn btn-default" href="{{ path('role_index') }}">Back to the list</a>

            <a class="btn btn-primary" href="{{ path('role_edit', { 'id': role.id }) }}">Edit</a>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}

    </ul>
{% endblock %}
