{% extends 'base.html.twig' %}

{% block body %}
    <h1>Schedules list</h1>
    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('schedule_new') }}">Create a new schedule</a>
        </li>
    </ul>
    <table id="datatable" class="table schedule-table" data-ordering="false">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td><a href="{{ path('schedule_show', { 'id': schedule.id }) }}">{{ schedule.id }}</a></td>
                <td>{{ schedule.title }}</td>
                <td>{{ schedule.description }}</td>
                <td>{% if schedule.startDate %}{{ schedule.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if schedule.endDate %}{{ schedule.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('schedule_show', { 'id': schedule.id }) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('schedule_edit', { 'id': schedule.id }) }}">edit</a>
                </td>
            </tr>
            <tr>
                <td style="display: none;">{{ schedule.id }}</td>
                <td style="display: none;">{{ schedule.title }}</td>
                <td style="display: none;">{{ schedule.description }}</td>
                <td style="display: none;">{% if schedule.startDate %}{{ schedule.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td style="display: none;">{% if schedule.endDate %}{{ schedule.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td colspan="7">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Employee</th>
                            <th>Startdate</th>
                            <th>Duration</th>
                            <th>Importance</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in schedule.getSortedByStartDateEvents() %}
                            <tr>
                                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                                <td><a class="text-primary" href="{{ path('event_show', { 'id': event.id }) }}">{{ event.title }}</a></td>
                                <td>{{ event.description }}</td>
                                <td><a class="text-primary" href="{{ path('employee_show', { 'id': event.employee.id }) }}">{{ event.employee.fullName }}</a></td>
                                <td>{% if event.startDate %}{{ event.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ event.duration }}</td>
                                <td>{{ event.importanceLabel }}</td>
                                <td>{{ event.statusLabel }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/schedule.js') }}"></script>
{% endblock %}