{% extends 'base.html.twig' %}

{% block body %}
    <h1>Schedules list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schedule in schedules %}
            <tr>
                <td><a href="{{ path('schedule_show', { 'id': schedule.id }) }}">{{ schedule.id }}</a></td>
                <td>{{ schedule.title }}</td>
                <td>{{ schedule.description }}</td>
                <td>{% if schedule.startDate %}{{ schedule.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if schedule.endDate %}{{ schedule.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('schedule_show', { 'id': schedule.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('schedule_edit', { 'id': schedule.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('schedule_new') }}">Create a new schedule</a>
        </li>
    </ul>
{% endblock %}
