{% extends 'base.html.twig' %}

{% block body %}
    <h1>Schedule</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schedule.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ schedule.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ schedule.description }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if schedule.startDate %}{{ schedule.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if schedule.endDate %}{{ schedule.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('schedule_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-primary" href="{{ path('schedule_edit', { 'id': schedule.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
