{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employeedays list</h1>

    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employeeDay in employeeDays %}
            <tr>
                <td><a href="{{ path('employeeday_show', { 'day': employeeDay.day }) }}">{{ employeeDay.day }}</a></td>
                <td>{% if employeeDay.startTime %}{{ employeeDay.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if employeeDay.endTime %}{{ employeeDay.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employeeday_show', { 'day': employeeDay.day }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employeeday_edit', { 'day': employeeDay.day }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employeeday_new') }}">Create a new employeeDay</a>
        </li>
    </ul>
{% endblock %}
