{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employeeday</h1>

    <table  id="datatable-keytable" class="table">
        <tbody>
            <tr>
                <th>Day</th>
                <td>{{ employeeDay.day }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if employeeDay.startTime %}{{ employeeDay.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if employeeDay.endTime %}{{ employeeDay.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a  class="btn btn-default" href="{{ path('employeeday_index') }}">Back to the list</a>
        </li>
        <li>
            <a  class="btn btn-primary" href="{{ path('employeeday_edit', { 'day': employeeDay.day }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input  class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
