{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block body %}
    <h2>Employee creation</h2>

    {{ form_start(form) }}
        <div>
            {{ form_label(form.lastName, 'label.lastname') }}
            {{ form_errors(form.lastName) }}
            {{ form_widget(form.lastName, {'attr':{'class':'abcinput'}}) }}
        </div>
        <!-- TODO -->
        <input  class="btn btn-success" type="submit" value="action.save" />
    </form>

    <ul>
        <li>
            <a  class="btn btn-default" href="{{ path('employee_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
