{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employee.id }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ employee.firstName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ employee.gender }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ employee.phone }}</td>
            </tr>
            <tr>
                <th>Workmode</th>
                <td>{{ employee.workModeLabel }}
                    {% if employee.workMode == constant('AppBundle\\Entity\\Employee::WORKMODE_CUSTOM') %}
                        <ul>
                            {% for employeeDay in employee.employeeDays %}
                                <li>
                                    {{ employeeDay.dayTitle }}: {{ employeeDay.startTime|date('H:i')}}-{{ employeeDay.endTime|date('H:i') }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a  class="btn btn-default" href="{{ path('employee_index') }}">Back to the list</a>
        </li>
        <li>
            <a   class="btn btn-primary" href="{{ path('employee_edit', { 'id': employee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input  class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
