{% extends 'base.html.twig' %}

{% block body %}
    <h1>Events list</h1>

    <table id="datatable" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Employee</th>
            <th>Startdate</th>
            <th>Duration</th>
            <th>Importance</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td><a class="text-primary" href="{{ path('employee_show', { 'id': event.employee.id }) }}">{{ event.employee.fullName }}</a></td>
                <td>{% if event.startDate %}{{ event.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ event.duration }}</td>
                <td>{{ event.importanceLabel }}</td>
                <td>
                    {{ event.statusLabel }}
                </td>
                <td>
                    <a class="btn btn-default" href="{{ path('event_show', { 'id': event.id }) }}">show</a>

                    <a class="btn btn-primary" href="{{ path('event_edit', { 'id': event.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('event_new') }}">Create a new event</a>
        </li>
    </ul>
{% endblock %}
