{% extends 'base.html.twig' %}

{% block body %}
    <h1>Eventlogs list</h1>

    <table id="datatable" class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Timeinstant</th>
            <th>Action</th>
            <th>Starttime</th>
            <th>Duration</th>
            <th>Oldstatus</th>
            <th>Newstatus</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for eventLog in eventLogs %}
            <tr>
                <td><a href="{{ path('eventlog_show', { 'id': eventLog.id }) }}">{{ eventLog.id }}</a></td>
                <td>{{ eventLog.title }}</td>
                <td>{{ eventLog.description }}</td>
                <td>{% if eventLog.timeInstant %}{{ eventLog.timeInstant|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ eventLog.action }}</td>
                <td>{% if eventLog.startTime %}{{ eventLog.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ eventLog.duration }}</td>
                <td>{{ eventLog.oldStatus }}</td>
                <td>{{ eventLog.newStatus }}</td>
                <td>
                    <a class="btn btn-default" href="{{ path('eventlog_show', { 'id': eventLog.id }) }}">show</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
